body {
    background-color: #1F2937;
    font-family: roboto, sans-serif;
    font-size: 18px;
    margin: 0;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

p {
    display: flex;
    flex-wrap: wrap;
}
ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #1F2937;
}
.header_logo {
    font-size: 24px;
    color: #F9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9faf8;
    flex-wrap: wrap;

}

.d1 {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 80px;
    margin-left: 500px;
    margin-right: 500px;
}

.d2 {
    background-color: #F9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d2_images {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}

.d2_img {
    width: 200px;
    height: 200px;
    border: solid #1F2937;
}

.d2_col {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.d3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    min-height: 700px;
}

.d4 {
    background-color: #F9faf8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.d4_box {
    background-color: #3882f6;
    margin: 60px;
    display: flex;
    align-items: center;
    padding: 30px;
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 6px;
    gap: 120px;
}
.hero {
    font-size: 48px;
}

.button {
    background-color: #3882f6;
    max-width: 90px;
    height: 28px;
    border-radius: 8px;
    flex-grow: 0;
    flex-shrink: 0;
    color: #F9faf8;
    font-weight: 700;
}

.box {
    color: #F9faf8;
    gap: 0;
    margin: 0;
}

.box_head {
    font-weight: 700;
    font-size: 22px;
}
.d1_img {
    border-radius: 8px;
}
.info_head {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.ul_quotes {
    list-style: circle;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
}
 .button.bottom {
    border: solid #F9faf8 2px;
    width: 160px;
    border-radius: 6px;

 }